body{
    margin: 0;
    padding: 0;
    background-color: #E5E1FF;
    overflow: hidden;
}


.bedroom-furniture {
    width: 100%;
    height: 100%;
}

.bedroom-furniture .window, .bed, .rug-container{
    width: 30%;
    height: auto;
    position: absolute;
}

.bookcase-container{
    width: 22%;
    height: auto;
    position: absolute;
    bottom: 15%;
    left:7%;
}

.bookcase{
    height: 100%;
    width: 100%;
}

/* souvenirs on bookcase */
.souvenir{
    position: absolute;
}

.hidden{
    opacity:0;
}

.souvenir img{
    width: 100%;
    height: 100%;
}

.souvenir-egypt{
    height: 15%;
    width: 15%;
    top: 13%;
    left:30%;
}

.souvenir-india{
    height: 10%;
    width: 10%;
    top: 17%;
    left:60%;
}

.souvenir-japan{
    height: 40%;
    width: 40%;
    top: 19%;
    left:30%;
}

.souvenir-kenya{
    height: 18%;
    width: 18%;
    top: 40%;
    left:30%;
}

.souvenir-mexico{
    height: 10%;
    width: 10%;
    top: 45%;
    left:60%;
}

.souvenir-russia{
    height: 8%;
    width: 8%;
    top: 60%;
    left:35%;
}

.souvenir-scotland{
    height: 27%;
    width: 27%;
    top: 60%;
    left:50%;
}

.window{
    top:15%;
    left:35%;
}

.bed{
    top: 50%;
    left: 60%;
}

.rug-container{
    top: 60%;
    left: 35%;
}

.globe-container{
    position: absolute;
    bottom: 50%;
    left:30%;
    height: 30%;
    width:auto;
}

.globe{
    height: 100%;
    width:auto;
    cursor: pointer;
}

.globe:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease-in;
}

.floor{
    margin: 0;
    padding: 0;
    background: #EDE9FF;
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 30%;
    z-index: -1;
}