body{
    margin: 0;
    padding: 0;
    background-color: #E5E1FF;
    overflow: hidden;
}

/** 
*Bedroom furniture
 */

.bedroom-furniture {
    width: 100%;
    height: 100%;
}

.bedroom-furniture .window, .bed, .rug-container{
    width: 30%;
    height: auto;
    position: absolute;
}

.bookcase-container{
    width: 22%;
    height: auto;
    position: absolute;
    bottom: 15%;
    left:7%;
}

.bookcase{
    height: 100%;
    width: 100%;
}

.window{
    top:15%;
    left:35%;
}

.bed{
    top: 45%;
    right: 2%;
    height: 45%;
    width: 45%;
}

.rug-container{
    top: 60%;
    left: 35%;
}

.globe-container{
    position: absolute;
    bottom: 50%;
    left:30%;
    height: 30%;
    width:auto;
}

.globe{
    height: 100%;
    width:auto;
    cursor: pointer;

    animation-name: globe-zoom-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    will-change: transform;
}

@keyframes globe-zoom-animation
{
    0%   {transform: scale(1, 1);}
    25%  {transform: scale(0.92, 0.92);}
    50%  {transform: scale(1.1, 1.1);}
    75%  {transform: scale(0.95, 0.95);}
    100% {transform: scale(1, 1);}
}


.floor{
    margin: 0;
    padding: 0;
    background: #EDE9FF;
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 30%;
    z-index: -1;
}


/** 
*Souvenirs on bookcase
 */

.souvenir{
    position: absolute;
}

.hidden{
    opacity:0;
    pointer-events: none;
}

.souvenir img{
    width: 100%;
    height: 100%;
}

.souvenir-egypt{
    height: 15%;
    width: 15%;
    top: 13%;
    left:30%;
}

.souvenir-india{
    height: 10%;
    width: 10%;
    top: 17%;
    left:60%;
}

.souvenir-japan{
    height: 40%;
    width: 40%;
    top: 19%;
    left:30%;
}

.souvenir-kenya{
    height: 18%;
    width: 18%;
    top: 40%;
    left:30%;
}

.souvenir-mexico{
    height: 10%;
    width: 10%;
    top: 45%;
    left:60%;
}

.souvenir-russia{
    height: 8%;
    width: 8%;
    top: 60%;
    left:35%;
}

.souvenir-scotland{
    height: 27%;
    width: 27%;
    top: 60%;
    left:50%;
}


/** 
*Postcards on the wall
 */

 .postcards-container{
     position: absolute;
     right: 10%;
     top: 15%;
     height: 35%;
     width: 25%;
 }

 .postcard img{
     height: 100%;
     width: 100%;
 }

 .postcard{
    position: absolute;
    height: 30%;
    width: 30%;
 }

 .postcard-scotland{
    left: 5%;
    top: 5%;
    transform: rotateZ(-7deg);
 }

 .postcard-japan{
    left: 40%;
    top: 4%;
    transform: rotateZ(-5deg);
 }

 .postcard-mexico{
    left: 75%;
    top: 4%;
    transform: rotateZ(10deg);
 }

 .postcard-kenya{
    left: 5%;
    top: 48%;
    transform: rotateZ(-5deg);
 }

 .postcard-egypt{
    left: 40%;
    top: 40%;
    transform: rotateZ(3deg);
 }

 .postcard-russia{
    left: 40%;
    top: 70%;
    transform: rotateZ(10deg);
 }

 .postcard-india{
    left: 70%;
    top: 50%;
    transform: rotateZ(-10deg);
 }

/*Pop up on click of the postcard*/

.postcard-x-container{
    width:4%;
    height:4%;
    position: absolute;
    top: 2%;
    right:1%;
    z-index:80;
}

.postcard-x{
    height: 100%;
    width: 100%;
}

.postcard-x-container:hover{
    cursor: pointer;
}

.background-pop-up-postcard
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
    z-index: 50;
}

.container-postcard
{
    position: absolute;
    height: 65%;
    width: 50%;
    top: calc(50% - 65%/2);
    left: calc(50% - 50%/2);
    background-color: rgb(248, 222, 193);
}

h2
{
    text-align: center;
    font-family: 'Fira sans';
    margin: 10px;
}

.content-postcard
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    width: 100%;
    margin: 0px 30px;
}

.container-text-postcard
{
    width: 80%;
}

p
{
    margin: 10px;
}

p, .test
{
    font-family: 'Montserrat';
    font-size: 16px;
}

.container-stamp
{
    position: absolute;
    right: 5%;
    top: 5%;
    height: auto;
    width: 15%;

}

.test {
    width: 400px;
    height: 15px;
    background:  rgb(253, 240, 225);
    padding: 15px;
    outline: none;
}

.test.person-name
{
    width: 140px;
    height: 20px;
}

.test[placeholder]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #555; 
}

a.primary-button
{
    position: absolute;
    bottom: 10px;
    left: 35%;
    text-decoration: none;
    width: 170px;
    height: 20px;
    margin: 5px;
    padding: 15px;
    background-color: rgb(119, 213, 219);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

