/* 
*Body and all elements of the page*
*/
*
{
    margin: 0;
    padding: 0;
}

body
{
    overflow: hidden;
    background-color: #CCEAFB;
}

/*
* H1 for SEO*
*/

h1
{
    opacity: 0;
}

/* 
*Style landing page*
*/

.container-all-elements
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}

.container-all-elements img.background-clouds
{
    position: absolute;
    top: 0; 
    left: 0;
    width: 300vw;
    z-index: 2;
}

.container-all-elements img.background-mountains
{
    position: absolute;
    bottom: -10px; 
    left: -50px;
    width: 300vw;
}

.container-contents
{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 650px;
    height: 200px;
    top: calc(50% - 150px);
    left: calc(50% - 325px);
    z-index: 2;
}

.container-contents img.logo-landing-page
{
    height: auto;
    width: 600px;
}

a.primaryButton
{
    text-decoration: none;
    width: 120px;
    height: 30px;
    padding: 15px;
    background-color: rgb(119, 213, 219);
    border-radius: 5px;
}

a.primaryButton.begin-game
{
    font-family: "Montserrat";
    font-size: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

/*
*Animation background*
*/

img.animation
{
    animation-name: background-is-moving;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes background-is-moving
{
    0% { transform: translateX(-10px); }
    100% { transform: translateX(-2820px); }
}
