/* 
*Body and all elements of the page*
*/
*
{
    margin: 0;
    padding: 0;
}

body
{
    overflow: hidden;
    background-color: #CCEAFB;
}

/*
* H1, p not visible for SEO and rights purpose*
*/

h1 , p
{
    opacity: 0;
}

/* 
*Style landing page*
*/

.container-landing-page
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.container-landing-page img.background-clouds
{
    position: absolute;
    top: 0; 
    left: 0;
    width: 300vw;
    z-index: 2;
}

.container-landing-page img.background-mountains
{
    position: absolute;
    bottom: -10px; 
    left: -50px;
    width: 300vw;
}

.background-elements
{
    position: absolute;
    width: 50vw;
    top: 50%;
    left: calc(50% - 25vw);
    padding: 15px;
    z-index: 2;
    transform: translateY(-50%);
    border-radius: 10px;
}

.contents-welcoming-user
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.contents-welcoming-user img.logo-landing-page
{
    height: auto;
    width: 600px;
}

p.context-explanation
{
    opacity: 1;
    font-family: "Montserrat";
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 40px 90px;
    text-align: center;
}

a.primary-button
{
    text-decoration: none;
    width: 150px;
    height: 30px;
    padding: 15px;
    background-color: rgb(119, 213, 219);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0);
}

/*
*Animation background*
*/

img.animation
{
    animation-name: background-is-moving;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes background-is-moving
{
    0% { transform: translateX(0px); }
    100% { transform: translateX(-1500px); }
}
