/* 
*Body and all elements of the page*
*/
*
{
    margin: 0;
    padding: 0;
}

body
{
    overflow: hidden;
    background-color: #CCEAFB;
}

/*
*Style for SVG elements*
*/

/*
.taj-mahal-bg
{
    height: 100vh;
    width: 100vw;
} */
