body
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: -15;
}

.country
{
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 0;
    overflow: hidden;
}

.element
{
    position: absolute;
}

.background
{
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: -10;
}

.character
{
    top: 57%;
    left: 47%;
    width: 6%;
    height: auto;
    z-index: 1;
}
.monument
{
    top:30%;
    left: 0%;
    width: 100%;
    height: auto;
}
.animal
{
    top: 74%;
    left: 35%;
    width: 4%;
    height: auto;
    z-index: 2;
}
.object
{
    top: 55%;
    left: 45%;
    width: 10%;
    height: auto;
    z-index: 2;
}
.food
{
    top: 85%;
    right: 35%;
    width: 10%;
    height: auto;
    z-index: 2;

}
.activity
{
    top: 24%;
    left: 47.5%;
    width: 5%;
    height: auto;
    z-index: 2;
}

.img-js:hover{
    cursor: pointer;
}

/* Text CSS */

.text
{
    background-color: #fff;
    border-radius: 20px;
    width: 30px;
    height: 20px;
    left: 50%;
    top: 58%;
    z-index: 4;
    opacity: 0;
    transition: all 0.5s ease-in 0s;
}

.text p
{
    color: #222;
    margin: 0;
    opacity: 0;
    transition: opacity 0.7s ease-in 0s;
    position:absolute;
    z-index: 5;
}

.visible
{
    transform: scale(10, 10);
    left: 35%;
    top: 40%;
    opacity: 1;
}

.visible-dct
{
    opacity: 1;
}