body{
    padding: 0;
    margin:0;
    width: 100vw;
    height:100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to top,#D84646 ,#F9CB5B);
}

img{
    height: 100%;
    width: 100%;
}

/* PINATA GAME */


.hidden{
    opacity: 0;
    pointer-events: none;
}

.pinatas{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index:10;
    background-color: rgba(0, 0, 0, 0.7);
}

.pinata1, .pinata2, .pinata3{
    width:15%;
    height: auto;
    z-index:20;
}

.pinatas-first-row{
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pinatas-second-row{
    display: flex;
    justify-content: center;
    padding-bottom:2%;
}

.confettis-container{
    display:none;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 30;
}

.confetti{
    position: absolute;
    height:5px;
    width: 5px;
    border-radius: 50%;
    z-index: 40;
    transition: all 3s ease-in 1s;
}


/* MEXICO PAGE */

.country{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.element{
    cursor: pointer;
    transition: transform 0.5s ease-in;
}

.element:hover{
    transform: scale(1.05);
}


.background{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    z-index: -1; 
}

.background img{
    width: 150%;
    height:150%;
}

@media screen and (max-width:1024px){
    .background{
        top: 30%;
    }
  }

.monument{
    width: 60%;
    height: auto;
    position: absolute;
    top: 30%;
    left: calc(50% - 60%/2);
}

.animal{
    width: 15%;
    height: auto;
    position: absolute;
    top: 7%;
    right: 5%;
}

.activity{
    width: 10%;
    height: auto;
    position: absolute;
    bottom: -5%;
    left: 5%;
}

.child{
    width: 9%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 60%;
}

.food{
    height: 15%;
    width: 15%;
    position: absolute;
    top: 80%;
    right: 10%;
}

.globe-container{
    height: 7%;
    width: auto;
    position: absolute;
    bottom: 2%;
    right:1%;
}

/** responsive tablet**/
@media screen and (max-width:1024px){
    .background{
        top: 12%;
    }
    .monument{
        top:40%;
    }
    .child{
        top: 50%;
    }
    .activity{
        bottom: 5%;
    }
    .food{
        top: 75%;
        right: 15%;
    }
    .animal{
        right:15%;
    }
    .canvas{
        left:-5%;
    }
  }