.planisphere-container{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left:0;
    z-index: 300;
}

.hidden{
    opacity: 0;
    pointer-events: none;
}


.planisphere-x-container{
    width:4%;
    height:4%;
    position: absolute;
    top: 2%;
    right:1%;
    z-index:80;
}

.planisphere-x{
    height: 100%;
    width: 100%;
}

.planisphere-x-container:hover{
    cursor: pointer;
}

.planisphere-title-container{
    width:100%;
    height:auto;
    position: absolute;
    top: 0;
    left:0;
    z-index:70;
}

.planisphere-title{
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}

.planisphere{
    width: 100%;
    height: 100%;
}

.planisphere-countries{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index:60;
}

.planisphere-countries h2{
    text-decoration: none;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size:1em;
    transition: all 0.3s ease-in;
}

.planisphere-country{
    position: absolute;
    z-index:70;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover .planisphere-country h2{
    transform: scale(1.2);
}

.planisphere-russia{
    height: 23%;
    width: 23%;   
    top:20%;
    right: 22%;    
}

.planisphere-japan{
    height: 10%;
    width: 10%;
    top:45%;
    right: 22%;
}

.planisphere-india{
    height: 15%;
    width: 7%;
    top:46%;
    right: 35%;
}

.planisphere-mexico{
    height: 15%;
    width: 10%;
    top:45%;
    left: 28%;
}

.planisphere-egypt{
    height: 7%;
    width: 5%;
    top:50%;
    right: 43%;
}

.planisphere-kenya{
    height: 7%;
    width: 5%;
    top:59%;
    left:52%;
}

.planisphere-scotland{
    height: 7%;
    width: 5%;
    top:35%;
    left:46%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2){
    .planisphere-japan{
        right: 10%;
    }
    .planisphere-india{
        right: 25%;
    }
    .planisphere-russia{
        right: 10%;    
    }
    .planisphere-mexico{
        left: 18%;
    }
    .planisphere-kenya{
        left:57%;
    }
}