body{
    padding: 0;
    margin:0;
    width: 100vw;
    height:100vh;
    position: relative;
    overflow: hidden;
    background: #E2F6FE;
}

img{
    height: 100%;
    width: 100%;
}

/* Feature matriochka */
.matriochka-container
{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.7);
    z-index: 10;
}

.matriochka
{
    position: absolute;
}

.hidden{
    opacity: 0;
    pointer-events: none;
}

.matriochka-1
{
    width: 20%;
    height: 20%;
    left: 5vw;
    top: 20vh; 
    z-index: 60;
    cursor: pointer;
}

.matriochka-2
{
    width: 90%;
    height: 90%;
    left: 100vw;
    top: 100vh;
    z-index: 50;

    animation-name: popping-matriochka-p1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.matriochka-3
{
    width: 90%;
    height: 90%;
    left: 1vw;
    top: 1.5vh;
    z-index: 40;

    animation-name: popping-matriochka-p2;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.matriochka-4
{
    width: 90%;
    height: 90%;
    left: 1vw;
    top: 1.5vh;
    z-index: 30;

    animation-name: popping-matriochka-p3;
    animation-duration: 1.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.matriochka-5
{
    width: 90%;
    height: 90%;
    left: 1vw;
    top: 1.5vh;
    z-index: 20;

    animation-name: popping-matriochka-p4;
    animation-duration: 1.5s;
    animation-delay: 4.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes popping-matriochka-p1
{
    0%   {
        transform: translate(0vw, 0vh);
        top: 4vh;
        left: 5vw;
    }
    40%  {
        transform: translate(10vw, -10vh);
        top: 4vh;
        left: 5vw;
    }
    100% {
        transform: translate(15vw, 0vh);
        top: 4vh;
        left: 5vw;
    }
}

@keyframes popping-matriochka-p2
{
    0%   {
        transform: translate(0vw, 0vh);
        top: 4vh;
        left: 3vw;
    }
    40%  {
        transform: translate(10vw, -10vh);
        top: 4vh;
        left: 3vw;
    }
    100% {
        transform: translate(15vw, 0vh);
        top: 4vh;
        left: 3vw;
    }
}

@keyframes popping-matriochka-p3
{
    0%   {
        transform: translate(0vw, 0vh);
        top: 3vh;
        left: 1.5vw;
    }
    40%  {
        transform: translate(10vw, -10vh);
        top: 3vh;
        left: 1.5vw;
    }
    100% {
        transform: translate(15vw, 0vh);
        top: 3vh;
        left: 1.5vw;
    }
}

@keyframes popping-matriochka-p4
{
    0%   {
        transform: translate(0vw, 0vh);
        top: 2vh;
        left: 0vw;
    }
    40%  {
        transform: translate(10vw, -10vh);
        top: 2vh;
        left: 0vw;
    }
    100% {
        transform: translate(15vw, 0vh);
        top: 2vh;
        left: 0vw;
    }
}


/* Page */
.element{
    cursor: pointer;
    transition: transform 0.5s ease-in;
}

.element:hover{
    transform: scale(1.05);
}

.background{
    width: 120%;
    height:auto;
    position: absolute;
    top: 5%;
    left: -5%;
    z-index: -1; 
}

.monument{
    width: 35%;
    height: auto;
    position: absolute;
    top: 3%;
    left: calc(50% - 35%/2);
}

.animal{
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    left:5%;
}

.activity{
    width: 20%;
    height: auto;
    position: absolute;
    top: 35%;
    right: 5%;
}

.child{
    width: 5%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 55%;
}

.food{
    height: 12%;
    width: 12%;
    position: absolute;
    top: 80%;
    right:5%;
}

.globe-container{
    height: 7%;
    width: auto;
    position: absolute;
    bottom: 2%;
    right:1%;
}


/** responsive tablet**/
@media screen and (max-width:1024px){
    .background{
        top: 15%;
    }
    .monument{
        top:15%;
    }
    .food{
        top:70%;
    }
    .child{
        top: 60%;
    }
  }