body{
    padding: 0;
    margin:0;
    width: 100vw;
    height:100vh;
    position: relative;
    overflow: hidden;
    background: #E2F6FE;
}

img{
    height: 100%;
    width: 100%;
}

.element{
    cursor: pointer;
}

.element:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease-in;
}

.background{
    width: 120%;
    height:auto;
    position: absolute;
    top: 5%;
    left: -5%;
    z-index: -1; 
}

.monument{
    width: 35%;
    height: auto;
    position: absolute;
    top: 3%;
    left: calc(50% - 35%/2);
}

.animal{
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    left:5%;
}

.activity{
    width: 20%;
    height: auto;
    position: absolute;
    top: 35%;
    right: 5%;
}

.child{
    width: 5%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 55%;
}

.food{
    height: 12%;
    width: 12%;
    position: absolute;
    top: 80%;
    right:5%;
}

.globe-container{
    height: 7%;
    width: auto;
    position: absolute;
    bottom: 2%;
    right:1%;
}


/** responsive tablet**/
@media screen and (max-width:1024px){
    .background{
        top: 15%;
    }
    .monument{
        top:15%;
    }
    .food{
        top:70%;
    }
    .child{
        top: 60%;
    }
  }